.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fc9621;
  height: 80px;
}

.icon {
  margin-right: 5px;
}

.logo {
  width: 40px;
  margin-left: 50px;
}

.title {
  color: #000000;
  text-align: center;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .icon {
    margin-left: -20px;
  }
}

@media (min-width: 1330px) {
  .icon {
    margin-left: -70px;
  }

  .title {
    font-size: 2rem;
    margin-left: -180px;
  }
}

@media (min-width: 1550px) {
  .title {
    margin-left: -260px;
  }
}

@media (min-width: 1700px) {
  .icon {
    margin-left: -170px;
  }
}
